@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fw-bold">My Top Ten F1 Drivers All Time</h1>
    <h2 class="fw-bold">There Drivers Races Info</h2>
    <h3 class="fw-bold">Driver Constructors</h3>
    <h4 class="fw-bold">Coments</h4>
    <a class="btn btn-warning btn-lg" href="https://localhost:4001/driver/all" role="button" data-toggle="popover" title="On Click Go To The List Of My Top Ten F1 Drivers All Time" >Go To Top Ten F1 Drivers List</a>
    <h4 class="fw-bold">Coments</h4>
    <h3 class="fw-bold">Driver Constructors</h3>
    <h2 class="fw-bold">There Drivers Races Info</h2>
    <h1 class="fw-bold">My Top Ten F1 Drivers All Time</h1>
</div>
