@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p class="font-weight-bold">Alen Horozic <a className="red-text" href="mailto:alenhorozic@hotmail.com">alenhorozic@hotmail.com</a></p>
<p class="font-weight-bold">Nusmir Smajlovic <a className="red-text" href="mailto:nusmir.smajlovic@hotmail.com">nusmir.smajlovic@hotmail.com</a></p>
<p class="font-weight-bold">Djuro Dzakula <a className="red-text" href="mailto:djura.dzakula@gmail.com">djura.dzakula@gmail.com</a></p>
<div id="map_hk" class="g-map"><iframe src="https://maps.google.com/maps?q=NBI/Handelsakademin,%20Redegatan%201,%20V%C3%A4stra%20Fr%C3%B6lunda&t=&z=13&ie=UTF8&iwloc=&output=embed" width="1000" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
